<div class="player-container">
  <iframe [src]="getVideoUrl()" allowfullscreen class="video-player" title="video-player"></iframe>
  @if (routeData().type === 'tv-series') {
    <div class="episode-selector-container">
      <h3>Season:</h3>
      <mat-button-toggle-group class="episode-selector">
        @for (seas of seasons(); track seas.id) {
          <mat-button-toggle [checked]="seas.season_number === currentSeason()"
                             (click)="selectSeason(seas.season_number)">
            {{ seas.season_number }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
      <h3>Episode:</h3>
      <mat-button-toggle-group class="episode-selector">
        @for (ep of episodes(); track ep.id) {
          <mat-button-toggle [checked]="ep.id === currentEpisode()" (click)="selectEpisode(ep.id)">
            {{ ep.id }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
  }
</div>
<mat-card appearance="outlined" class="show-details">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ getShowTitle() }}</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-set aria-label="Fish selection" class="genres-list">
          @for (genre of showInfo().genres; track genre.id) {
            <mat-chip class="genre" disabled>{{ genre.name }}</mat-chip>
          }
          @if (showInfo().adult) {
            <mat-chip class="genre" disabled>18</mat-chip>
          }
        </mat-chip-set>
      </mat-card-subtitle>
      <img [src]="`https://image.tmdb.org/t/p/w500/${showInfo().poster_path}`" alt="poster" class="poster"
           mat-card-xl-image>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider class="show-details-divider"></mat-divider>
  <mat-card-content>
    {{ getShowOverview() }}
  </mat-card-content>
  @if (routeData().type === 'tv-series') {
    <mat-divider class="show-details-divider"></mat-divider>
    <mat-card-content>
      <h3 class="season-title">{{ getSeasonTitle() }}</h3>
      <p>{{ getSeasonDescription() || 'No description available' }}</p>
    </mat-card-content>
  }
  <mat-card-actions class="show-details-actions">
    <a [href]="getInfoUrl()" class="material-symbols-outlined">info</a>
    <a [href]="getVideoUrl()" class="material-symbols-outlined">open_in_new</a>
  </mat-card-actions>
</mat-card>
