:host{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.show-details{
  flex: 1;
}

.player-container {
  height: 100%;
  flex: 4;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.video-player {
  flex: 1;
}

.video-player-frame {
  border: none;
  width: 100%;
  height: 100%;
}

.episode-selector-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.episode-selector {
  overflow-x: auto;
}

.episode-selector-container > h3 {
  margin: 0;
}
