:host{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.show-details{
  flex: 1;
}

.genres-list {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.show-details-divider {
  margin: 1rem 0;
}

.show-details-actions {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.poster {
  max-width: 200px;
}

.player{
  height: 100%;
  flex: 4;
  border: none;
}
