<div class="player-container">
  <div class="video-player">
    @if (videoUrl()) {
      <iframe [src]="videoUrl()" allowfullscreen class="video-player-frame" title="video-player"></iframe>
    }
  </div>
  @if (routeData().type === 'tv-series') {
    <div class="episode-selector-container">
      <h3>Season:</h3>
      <mat-button-toggle-group class="episode-selector">
        @for (seas of seasons(); track seas.id) {
          <mat-button-toggle [checked]="seas.season_number === currentSeason()"
                             (click)="goToSelectedSeason(seas.season_number)">
            {{ seas.season_number }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
      <h3>Episode:</h3>
      <mat-button-toggle-group class="episode-selector">
        @for (ep of episodes(); track ep.id) {
          <mat-button-toggle (click)="goToSelectedEpisode(ep.id)" [checked]="ep.id === currentEpisode()">
            {{ ep.id }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
  }
</div>
<app-player-card
  class="show-details"
  [showInfo]="showInfo()"
  [showType]="routeData().type"
  [currentSeason]="currentSeason()"
  [videoUrl]="videoUrl()"
></app-player-card>
