:host{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.show-details{
  flex: 1;
}

.chips-list {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.show-details-divider {
  margin: 1rem 0;
}

.show-details-actions {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.show-details-action {
  cursor: pointer;
}

.poster {
  max-width: 200px;
}

.player-container {
  height: 100%;
  flex: 4;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}


.player-title {
  margin: 0;
}

.video-player {
  flex: 1;
  border: none;
}

.episode-selector-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.episode-selector {
  overflow-x: auto;
}

.episode-selector-container > h3 {
  margin: 0;
}
