<div class="player-container">
  <div class="video-player">
    @if (videoUrl()) {
      <iframe [src]="videoUrl()" allowfullscreen class="video-player-frame" title="video-player"></iframe>
    }
  </div>
  @if (type() === 'tv-series') {
    <div class="next-prev-container">
      <button class="next-prev-btn" matButton [disabled]="isFirstEpisode()" (click)="goPrevious()">
        <mat-icon>skip_previous</mat-icon>
        Precedente
      </button>
      <button class="next-prev-btn" matButton [disabled]="isLastEpisode()" (click)="goNext()">
        <mat-icon>skip_next</mat-icon>
        Successivo
      </button>
    </div>
    <div class="episode-selector-container">
      <h3>Stagione</h3>
      <div class="episode-selector" #seasonWrapper>
        <mat-button-toggle-group>
          @for (seas of seasons(); track seas.id) {
            <mat-button-toggle [checked]="seas.season_number === currentSeason()"
                               (click)="goToSelectedSeason(seas.season_number)">
              {{ seas.season_number }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
      <h3>Episodio</h3>
      <div class="episode-selector" #episodeWrapper>
        <mat-button-toggle-group>
          @for (ep of episodes(); track ep.id) {
            <mat-button-toggle (click)="goToSelectedEpisode(ep.id)" [checked]="ep.id === currentEpisode()">
              {{ ep.id }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    </div>
  }
</div>
@if (showInfo.isLoading()) {
  <mat-spinner class="show-info-spinner"></mat-spinner>
} @else {
  <app-player-card
    class="show-details"
    [showInfo]="showInfo.value()"
    [showType]="type()"
    [currentSeason]="currentSeason()"
    [videoUrl]="videoUrl()"
  ></app-player-card>
}
