:host {
  margin: 0 1.2rem;
  display: block;
}

.shows-list-container {
  position: relative;
}

.shows-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  gap: 0.7rem;
  padding: 0 0 1rem;
  scrollbar-width: none;
}

.carousel-title {
  font-size: 1.8rem;
  margin: 1.2rem 0;

  .material-symbols-outlined {
    font-size: 0.8em;
    line-height: 1;
  }
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  background: color-mix(in srgb, var(--mat-sys-surface) 60%, transparent);
  color: var(--mat-sys-on-surface);
  border-radius: 100%;
  scale: 1.2;
}

.scroll-button-prev {
  left: 0.5rem;
}

.scroll-button-next {
  right: 0.5rem;
}
