:host {
  margin: 0 2rem;
  display: block;
}

.shows-list {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  gap: 1.2rem;
}

.carousel-title {
  font-size: 2rem;
  margin: 1.2rem 0;
}

