.recommendation-panel {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 30vh;
  overflow-y: auto;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
