<mat-toolbar class="toolbar" color="primary">
  <a [routerLink]="['/']" class="logo-container">
    <button class="sidenav-button action material-symbols-outlined" (click)="openSidenav()">menu</button>
    <div class="logo-img-container">
      <img alt="logo" class="logo" src="images/b-reduced.png">
    </div>
    <h1 class="logo-title">
      PintaStreaming
    </h1>
  </a>
  <a [routerLink]="['catalog/movies']" matButton class="menu-item">
    <span>Film</span>
  </a>
  <a [routerLink]="['catalog/tv-series']" matButton class="menu-item">
    <span>Serie TV</span>
  </a>
  @if (user() && isAdmin()) {
    <a [routerLink]="['admin']" matButton class="menu-item">
      <span>Admin</span>
    </a>
  }
  <span class="actions-box">
    <a [routerLink]="['search']" class="action material-symbols-outlined">search</a>
    <button (click)="openLanguages()" [matTooltip]="language()"
            class="action material-symbols-outlined">translate</button>
    @if (!user()) {
      <button [matMenuTriggerFor]="userLoginMenu" class="action material-symbols-outlined">person</button>
      <mat-menu #userLoginMenu="matMenu">
        <button (click)="loginWithEmail()" mat-menu-item>Email</button>
        <button (click)="loginWithGoogle()" mat-menu-item>Google</button>
      </mat-menu>
    } @else {
      @if (user()?.photoURL) {
        <div [matTooltip]="user()?.displayName" [matMenuTriggerFor]="loggedUserMenu" class="action user-pic-container">
          <img [src]="user()?.photoURL" alt="" class="user-pic">
        </div>
      } @else {
        <button [matTooltip]="user()?.displayName" [matMenuTriggerFor]="loggedUserMenu"
                class="action material-symbols-outlined">logout</button>
      }
      <mat-menu #loggedUserMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    }
  </span>
</mat-toolbar>

