a {
  margin: 0;
  padding: 0;
}

.poster {
  max-width: 12rem;
  border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
}

.unavailable-show {
  opacity: 0.2;
  cursor: default;
}

.show-card {
  display: inline-block;
  white-space: normal;
  max-width: 200px;
}

.actions-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 100%;
}
