:host{
  width: 100vw;
  /*width: 100dvw;*/
  height: 100vh;
  /*height: 100dvh;*/
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

router-outlet {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}


.title {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  justify-content: start;
  padding-left: 2.5rem;
  align-items: center;
  font-size: 2.5rem;
  overflow: hidden;
}

.menu {
  grid-column: span 7 / span 7;
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding-left: 1.5rem;
}

.menu-item {
  justify-self: start;
  font-size: 1.4rem;
}

.actions-box {
  margin-left: auto;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.action {
  background: unset;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
}

.user-pic-container {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-pic {
  width: 100%;
  height: 100%;
}


.content {
  grid-column: span 9 / span 9;
  grid-row: span 8 / span 8;
  grid-column-start: 1;
  grid-row-start: 2;
}
