:host{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

router-outlet {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}


.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
  gap: 0.8rem;
}

.logo-title {
  font-size: 2rem;
}

.logo {
  max-height: 3rem;
}

.menu {
  grid-column: span 9 / span 9;
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  gap: 1.5rem;
}

.menu-item {
  justify-self: start;
  font-size: 1.3rem;
}

.actions-box {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.action {
  background: unset;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.user-pic-container {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-pic {
  width: 100%;
  height: 100%;
}


.content {
  grid-column: span 9 / span 9;
  grid-row: span 8 / span 8;
  grid-column-start: 1;
  grid-row-start: 2;
}
