<a [routerLink]="['/']" class="logo-container">
  <div class="logo-img-container">
    <img alt="logo" class="logo" src="images/b-reduced.png">
  </div>
  <h1 class="logo-title">
    PintaStreaming
  </h1>
</a>
<div class="menu">
  <a [routerLink]="['/']" class="menu-item" extended matFab>Home</a>
  <a [routerLink]="['catalog/movies']" class="menu-item" extended matFab>Film</a>
  <a [routerLink]="['catalog/tv-series']" class="menu-item" extended matFab>Serie TV</a>
  @if (user() !== null && isAdmin()) {
    <a matFab extended class="menu-item" [routerLink]="['/admin']">Admin</a>
  }
<!--  <a class="menu-item" [routerLink]="['/player/438631']">TEST PLAYER</a>-->
  <span class="actions-box">
    <button (click)="openSearch()" class="action material-symbols-outlined">search</button>
    @if (user() === null) {
      <button class="action material-symbols-outlined" (click)="login()">login</button>
    } @else {
      <div class="user-pic-container">
        <img class="user-pic" [src]="user()?.photoURL" alt="">
      </div>
    }
  </span>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
