/*noinspection CssOverwrittenProperties*/
:host{
  display: block;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

mat-sidenav-container, mat-sidenav-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

router-outlet {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
