.login-form {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
}

.login-field {
  width: 100%;
}

.actions-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.action-button {
  font-size: 1.3rem;
}
