.search-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;
}

.search-input {
  padding-top: 1rem;
}

.search-input, .search-input-box {
  width: 100%;
}

.search-results-empty {
  width: 100%;
  flex: 1;
  padding-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.search-results-table {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.mat-column-poster {
  width: 45px;
  max-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.mat-column-actions {
  max-width: 205px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.search-action {
  cursor: pointer;
}

.search-result-poster{
  width: 45px;
}

.search-result-title {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-row.person-content-row {
  height: auto;
  min-height: 0;
}

mat-row.person-content-row.collapsed {
  height: 0;
  border-bottom-width: 0;
}

.person-content-list {
  width: 100%;
  padding: 0 30px;
}

.person-content-element {
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.person-content-element-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.person-content-element-poster-container {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.person-content-element-poster {
  width: 45px;
}

.person-content-element-title {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.person-content-element-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

mat-paginator {
  position: sticky;
  bottom: 0;
  z-index: 10;
  font-size: 1.2rem;
}

.search-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled-cell > * {
  opacity: 0.5;
}

.filled {
  font-variation-settings: 'FILL' 1;
}

@media (max-width: 1000px) {
  .mat-column-actions {
    display: none;
  }

  .person-content-element-actions {
    display: none;
  }

  .mat-column-personContents {
    padding: 0;
  }
}
