*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  box-sizing: border-box;
}

body{
  color: #e4eeff;
  background-color: #121316FF;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100vw;
  /*width: 100dvw;*/
  height: 100vh;
  /*height: 100dvh;*/
  padding: 0;
  margin: 0;
}

a{
  color: unset;
  text-decoration: none;
}

html, body { height: 100%; }
