<mat-dialog-content class="search-dialog">
  <mat-form-field class="search-input">
    <input (input)="searchItems()" [(ngModel)]="textSearch" class="search-input-box" matInput
           placeholder="Type to search"/>
  </mat-form-field>
  <mat-list class="search-results-list">
    @for (item of items.results; track item.id; let idx = $index) {
      @if (idx > 0) {
        <mat-divider class="search-result-item-divider"></mat-divider>
      }
      <mat-list-item>
        <div class="search-result">
          <div class="search-result-poster-container">
            <img class="search-result-poster" [src]="`https://image.tmdb.org/t/p/w300/${item.poster_path}`" alt="">
          </div>
          <a class="search-result-title" [routerLink]="[`/player/${item.id}`]" (click)="closeSearch()">{{ item.title || item.name || item.original_title }}</a>
        </div>
      </mat-list-item>
    } @empty {
      @if(textSearch !== ''){
        <mat-list-item>There are no items.</mat-list-item>
      }
    }
  </mat-list>
</mat-dialog-content>
