:host {
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.shows-input-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.2rem;
}

.shows-input-title {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.shows-input-field {
  width: 100%;
  height: 100%;
}

.actions-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.action-button {
  margin: 10px;
  font-size: 1.5rem;
}
